<!-- <div class="row">
    <div class="col-md-12">
        <h3>Update Post</h3>
        <hr />
        <form [formGroup]="postForm" (ngSubmit)="onSubmit()" >
            <div class="mb-3">
                <label>Title</label>
                <input type ="text " class="form-control" formControlName="title"/>
             
            </div>
          
            <div class="mb-3">
                <label>Description</label>
                <textarea class="form-control" formControlName="description">
                
                </textarea>
              
               
            </div>
            <div class="my-3">
                <button type="submit" class="btn btn-primary">Update Post</button>
            </div>
        </form>
    </div>
</div> -->
<div class="row">
    <div class="col-md-12">
      <h3>Update Post</h3>
      <hr />
  
      <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
<div class="mb-3">
  <label >Id</label>
  <input type="text" class="form-control" formControlName="id" />
</div>

        <div class="mb-3">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name" />
          <!-- <div
            *ngIf="postForm.get('name').touched && !postForm.get('name').valid"
          >
            <div *ngIf="postForm.get('name').errors.required">
              named is required
            </div>
            <div *ngIf="postForm.get('name').errors.minlength">
              name should be minimum 6 characters
            </div>
          </div> -->
        </div>
        <div class="mb-3">
          <label>Email</label>
          <textarea class="form-control" formControlName="email"></textarea>
          <!-- <div
            *ngIf="
              postForm.get('email').touched &&
              !postForm.get('email').valid
            "
          >
            <div *ngIf="postForm.get('email').errors.required">
            email is required
            </div>
            <div *ngIf="postForm.get('email').errors.minlength">
              email should be minimum 10 characters
            </div>
          </div> -->
        </div>
  
        <div class="my-3">
          <button type="submit" class="btn btn-primary">Update Post</button>
        </div>
      </form>
    </div>
  </div>
