 <div class="row my-4">
    <div class="col-md-12">
      <h3>Add Post</h3>
      <hr />
      <form [formGroup]="postForm" (ngSubmit)="onAddPost()" id="usernameInput">
        <div class="mb-3">
          <label>id</label>
          <input type="text" class="form-control" formControlName="name"  />
  
          <div
            *ngIf="postForm.get('name').touched && !postForm.get('name').valid"
          >
            <div *ngIf="postForm.get('name').errors.required">
              Title is required
            </div>
            <div *ngIf="postForm.get('name').errors.minlength">
              Title should be minimum 6 characters
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name"  />
  
          <div
            *ngIf="postForm.get('name').touched && !postForm.get('name').valid"
          >
            <div *ngIf="postForm.get('name').errors.required">
              Title is required
            </div>
            <div *ngIf="postForm.get('name').errors.minlength">
              Title should be minimum 6 characters
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label>Email</label>
          <input type="email" class="form-control" formControlName="email"  />
          <div
          *ngIf="postForm.get('email').touched && !postForm.get('email').valid"
        >
          <div *ngIf="postForm.get('email').errors.required">
            Description  is required
          </div>
          <div *ngIf="postForm.get('email').errors.minlength">
            Description should be minimum 6 characters
          </div>
        </div>
        </div>
  
        <div class="my-3">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!postForm.valid"
          >
            Add Post
          </button>
        </div>
      </form>
    </div>
  </div>